<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    	package="info.xuluan.podcastj"
        android:versionName="1.2.1.104"
        android:versionCode="104">
      
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"
	    android:allowBackup="true" />
      
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    
    <supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"
		android:anyDensity="true" />
	
    <application
        	android:icon="@drawable/icon"
        	android:label="@string/app_name"
        	android:allowBackup="true" >
        <uses-library android:name="android.test.runner" />
	
        <activity android:name="info.xuluan.podcast.StartupActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    
        <activity android:name="info.xuluan.podcast.MainActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!-- <category android:name="android.intent.category.LAUNCHER" />  -->
            </intent-filter>
        </activity>    
        <activity android:name="info.xuluan.podcast.EpisodesActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name="info.xuluan.podcast.EpisodeDetailsActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.xuluan.podcast.item" />

                <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>               
        </activity>
        <activity android:name="info.xuluan.podcast.PlayerActivity" android:label="@string/app_name">
        </activity>
        
        <activity android:name="info.xuluan.podcast.SearchActivity" android:label="@string/app_name">
        </activity>
        
        <activity android:name="info.xuluan.podcast.ChannelActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.xuluan.podcast.subscription" />
                <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>        
        </activity>
        
        <activity android:name="info.xuluan.podcast.ChannelDetailsActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:mimeType="vnd.android.cursor.item/vnd.xuluan.podcast.subscription" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>        
        </activity>
        
        <activity android:name="info.xuluan.podcast.ChannelsActivity" android:label="@string/app_name"></activity>
        <activity android:name="info.xuluan.podcast.AddChannelActivity" android:label="@string/title_channels"></activity>
        <activity android:name="info.xuluan.podcast.BackupChannelsActivity" android:label="@string/title_channels"></activity>
        <activity android:name="info.xuluan.podcast.Pref" android:label="Settings"></activity>		
        <activity android:name="info.xuluan.podcast.HomeActivity" android:label="@string/app_name"></activity>		
        <activity android:name="info.xuluan.podcast.DownloadActivity" android:label="Downloading"></activity>		
        <service android:enabled="true" android:name="info.xuluan.podcast.service.PodcastService"></service>
        <service android:enabled="true" android:name="info.xuluan.podcast.service.PlayerService"></service>        
        <provider android:name="info.xuluan.podcast.provider.PodcastProvider" android:authorities="info.xuluan.podcast.provider.podcastprovider"></provider>
    </application>
	
    <instrumentation android:name="android.test.InstrumentationTestRunner"
                     android:targetPackage="info.xuluan.podcastj"
                     android:label="Hapi Podcast test"/>	
</manifest> 
