<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="info.xuluan.podcast">
      
	<uses-sdk android:minSdkVersion="3" android:targetSdkVersion="4" />
      

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <supports-screens android:largeScreens="true"
		android:normalScreens="true" android:smallScreens="true"
		android:anyDensity="true" />
	
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".SelectActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>    
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
        </activity>
        <activity android:name=".ReadActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.xuluan.podcast.item" />

                <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>        
        
        </activity>
        <activity android:name=".SubsActivity" android:label="@string/app_name"></activity>
        <activity android:name=".SearchChannel" android:label="@string/app_name"></activity>
      
        <activity android:name=".Pref" android:label="Settings"></activity>		
        <activity android:name=".DownloadingActivity" android:label="Downloading"></activity>		
        <activity android:name=".PlayListActivity" android:label="Playlist"></activity>				
        <service android:enabled="true" android:name=".service.PodcastService"></service>
        <provider android:name=".provider.PodcastProvider" android:authorities="info.xuluan.podcast.provider.podcastprovider"></provider>
    </application>
</manifest> 