<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright (C) 2007 The Android Open Source Project

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at
  
          http://www.apache.org/licenses/LICENSE-2.0
  
     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->

<!-- Declare the contents of this Android application.  The namespace
     attribute brings in the Android platform namespace, and the package
     supplies a unique name for the application.  When writing your
     own application, the package name must be changed from "com.example.*"
     to come from a domain that you own or have control over.

     
      -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.xuluan.xappstock">
    <uses-permission android:name="android.permission.INTERNET" />	
    <application android:label="Stock Quote" android:icon="@drawable/icon" >

		    
        <provider android:name="StockProvider"
            android:authorities="info.xuluan.xappstock.stockprovider"
        />	
		
        <service android:name="RemoteService" android:process=":remote">
            <intent-filter>
                <!-- These are the interfaces supported by the service, which
                     you can bind to. -->
                <action android:name="info.xuluan.xappstock.IRemoteService" />
                <action android:name="info.xuluan.xappstock.ISecondary" />
                <!-- This is an action code you can use to select the service
                     without explicitly supplying the implementation class. -->
                <action android:name="info.xuluan.xappstock.REMOTE_SERVICE" />
            </intent-filter>
        </service>
		
        <activity android:name="XappStock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
		
        <activity android:name="AddStock"
                 android:theme="@android:style/Theme.Light"        
            android:label="Add Stock">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>

        </activity>	
		
        <activity android:name="Pref"
            android:theme="@android:style/Theme.Light"
            android:label="Setting">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>

        </activity>			
		
       <activity android:name="StockViewer"
            android:theme="@android:style/Theme.Light"
            android:label="Stock Viewer">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.EDIT" />
                <data android:mimeType="vnd.android.cursor.item/vnd.xuluan.stock" />

                <category android:name="android.intent.category.DEFAULT" />
           </intent-filter>


        </activity>		
    </application>
</manifest>
